
/* This is the main css file for project Observational Astronomy
by K. LeBlanc
Used for practice
*/
/* standard page items styling */
body {
	position: relative;
}
p {
	font-family: Helvetica, Arial, sans-serif;
}
a,
a:link {
	color: #0066cc;
	text-decoration: none;
}
a:visited {
	color: #003399;
}
/* blockquote styling */
blockquote {
	font-style: italic;
	background: #d9d9d9;
	display: block;
	line-height: 1.5;
	border-radius: 5px;
	box-shadow: 7px 5px 2px #000;
}
/* all header styles */
header {
	background: #000;
	padding-bottom: 0.2em;
}
header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
header h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #fff;
	text-align: center;
	padding: 20px 0 20px;
}
header.banner a:link,
header.banner a:visited {
	color: #fff;
}
/*Figure styles */
.figure--inline {
	display: block;
	position: relative;
}
.figure__caption {
	background: #ccc;
	font-size: 0.75em;
	max-width: 150px;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 5px;
}
/*img style*/
img {
	max-width: 100%;
}
/* menu style */
nav#menu {
	text-align: center;
}
nav#menu h1 {
	padding-left: 1.5em;
}
nav#menu ul {
	list-style-type: none;
}
nav#menu ul li {
	display: block;
	margin: 30px 0;
}
nav#menu ul li a {
	background: #ccc;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #000;
}
nav#menu ul li a:hover {
	background: #666;
	transition: background .5s, color .5s;
}
nav#menu.top {
	text-align: center;
	position: absolute;
	top: 2em;
	right: 0.5em;
}
nav#menu.top h1.hidden {
	display: none;
}
nav#menu.top ul {
	list-style-type: none;
}
nav#menu.top ul li {
	display: inline-block;
	margin: 30px 0;
}
nav#menu.top ul li a {
	background: #fff;
	padding-bottom: 1em;
	box-shadow: none;
}
nav#menu.top ul li a:hover {
	background: #d9d9d9;
}
footer {
	font-size: 0.75em;
	padding-top: 1em;
	border-top: 1px dotted #ccc;
}
/* >= 648px */
@media only screen and (min-width:40.5em) {
	.figure--inline {
		float: right;
		margin-right: 5px;
		max-width: 350px;
		position: relative;
	}
}

